Basic imports...

In [2]:
import numpy as np
import pandas as pd

Series declarations

s = pd.Series(data, index, name)

In [3]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

In [4]:
s

a    1.267539
b   -0.504709
c    0.863128
d    0.130259
e   -0.192180
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5))

In [6]:
s

0   -1.466716
1    0.206669
2   -1.425795
3   -0.590281
4   -0.554272
dtype: float64

In [7]:
d = {"a": 0.0, "b": 1.0, "c": 2.0}
s = pd.Series(d)

In [8]:
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [9]:
s = pd.Series(d, index=["b", "c", "d", "a"])

In [10]:
s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [11]:
s = pd.Series(5.0, index=["a", "b", "c", "d", "e"])

In [12]:
s

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [13]:
s["a"]

5.0

In [14]:
s["e"] = 12.0

In [15]:
s

a     5.0
b     5.0
c     5.0
d     5.0
e    12.0
dtype: float64

In [16]:
"e" in s

True

In [17]:
"f" in s

False

In [18]:
s.get("f")

DataFrame

df = pd.DataFrame(data, index, columns)

In [19]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [20]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.953205 -0.510823  0.838507  0.002086
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-03  1.168882  0.225536 -1.205854 -0.201028
2013-01-04  0.012269  1.678246 -0.266144 -1.489654
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263
2013-01-06  1.496368 -1.271911 -2.142138  0.958763

In [23]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [24]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [25]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [26]:
df.head()

                   A         B         C         D
2013-01-01 -1.953205 -0.510823  0.838507  0.002086
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-03  1.168882  0.225536 -1.205854 -0.201028
2013-01-04  0.012269  1.678246 -0.266144 -1.489654
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263

In [27]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.012269  1.678246 -0.266144 -1.489654
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263
2013-01-06  1.496368 -1.271911 -2.142138  0.958763

In [28]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [30]:
df.to_numpy()

array([[-1.95320539e+00, -5.10823486e-01,  8.38506582e-01,
         2.08593142e-03],
       [-1.61613641e+00, -1.65943325e+00,  8.43784045e-01,
         1.26665344e+00],
       [ 1.16888191e+00,  2.25535930e-01, -1.20585360e+00,
        -2.01027674e-01],
       [ 1.22692868e-02,  1.67824630e+00, -2.66144361e-01,
        -1.48965380e+00],
       [-1.76565324e+00, -1.43808034e-01,  1.43571132e+00,
        -1.41126268e+00],
       [ 1.49636806e+00, -1.27191067e+00, -2.14213750e+00,
         9.58762829e-01]])

In [31]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [32]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.442913 -0.280366 -0.082689 -0.145740
std    1.547447  1.187337  1.381953  1.153026
min   -1.953205 -1.659433 -2.142138 -1.489654
25%   -1.728274 -1.081639 -0.970926 -1.108704
50%   -0.801934 -0.327316  0.286181 -0.099471
75%    0.879729  0.133200  0.842465  0.719594
max    1.496368  1.678246  1.435711  1.266653

In [33]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.953205   -1.616136    1.168882    0.012269   -1.765653    1.496368
B   -0.510823   -1.659433    0.225536    1.678246   -0.143808   -1.271911
C    0.838507    0.843784   -1.205854   -0.266144    1.435711   -2.142138
D    0.002086    1.266653   -0.201028   -1.489654   -1.411263    0.958763

In [34]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.002086  0.838507 -0.510823 -1.953205
2013-01-02  1.266653  0.843784 -1.659433 -1.616136
2013-01-03 -0.201028 -1.205854  0.225536  1.168882
2013-01-04 -1.489654 -0.266144  1.678246  0.012269
2013-01-05 -1.411263  1.435711 -0.143808 -1.765653
2013-01-06  0.958763 -2.142138 -1.271911  1.496368

In [35]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-06  1.496368 -1.271911 -2.142138  0.958763
2013-01-01 -1.953205 -0.510823  0.838507  0.002086
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263
2013-01-03  1.168882  0.225536 -1.205854 -0.201028
2013-01-04  0.012269  1.678246 -0.266144 -1.489654

In [36]:
df.A

2013-01-01   -1.953205
2013-01-02   -1.616136
2013-01-03    1.168882
2013-01-04    0.012269
2013-01-05   -1.765653
2013-01-06    1.496368
Freq: D, Name: A, dtype: float64

In [37]:
df["A"]

2013-01-01   -1.953205
2013-01-02   -1.616136
2013-01-03    1.168882
2013-01-04    0.012269
2013-01-05   -1.765653
2013-01-06    1.496368
Freq: D, Name: A, dtype: float64

In [38]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.953205 -0.510823  0.838507  0.002086
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-03  1.168882  0.225536 -1.205854 -0.201028

In [39]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-03  1.168882  0.225536 -1.205854 -0.201028
2013-01-04  0.012269  1.678246 -0.266144 -1.489654

In [40]:
df.loc[dates[0]]

A   -1.953205
B   -0.510823
C    0.838507
D    0.002086
Name: 2013-01-01 00:00:00, dtype: float64

In [41]:
df.loc[:, ["A", "B"]]

                   A         B
2013-01-01 -1.953205 -0.510823
2013-01-02 -1.616136 -1.659433
2013-01-03  1.168882  0.225536
2013-01-04  0.012269  1.678246
2013-01-05 -1.765653 -0.143808
2013-01-06  1.496368 -1.271911

In [42]:
df.loc["20130102":"20130104", ["A", "B"]]

                   A         B
2013-01-02 -1.616136 -1.659433
2013-01-03  1.168882  0.225536
2013-01-04  0.012269  1.678246

In [43]:
df.loc["20130102", ["A", "B"]]

A   -1.616136
B   -1.659433
Name: 2013-01-02 00:00:00, dtype: float64

In [44]:
df.loc[dates[0], "A"]

-1.9532053920869081

In [45]:
df.at[dates[0], "A"]

-1.9532053920869081

In [46]:
df.iloc[3]

A    0.012269
B    1.678246
C   -0.266144
D   -1.489654
Name: 2013-01-04 00:00:00, dtype: float64

In [47]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  0.012269  1.678246
2013-01-05 -1.765653 -0.143808

In [48]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2013-01-02 -1.616136  0.843784
2013-01-03  1.168882 -1.205854
2013-01-05 -1.765653  1.435711

In [49]:
df.iloc[1:3, :]

                   A         B         C         D
2013-01-02 -1.616136 -1.659433  0.843784  1.266653
2013-01-03  1.168882  0.225536 -1.205854 -0.201028

In [50]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -0.510823  0.838507
2013-01-02 -1.659433  0.843784
2013-01-03  0.225536 -1.205854
2013-01-04  1.678246 -0.266144
2013-01-05 -0.143808  1.435711
2013-01-06 -1.271911 -2.142138

In [51]:
df.iloc[1, 1]

-1.6594332515397887

In [52]:
df.iat[1, 1]

-1.6594332515397887

In [53]:
df[df["A"] > 0]

                   A         B         C         D
2013-01-03  1.168882  0.225536 -1.205854 -0.201028
2013-01-04  0.012269  1.678246 -0.266144 -1.489654
2013-01-06  1.496368 -1.271911 -2.142138  0.958763

In [54]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.838507  0.002086
2013-01-02       NaN       NaN  0.843784  1.266653
2013-01-03  1.168882  0.225536       NaN       NaN
2013-01-04  0.012269  1.678246       NaN       NaN
2013-01-05       NaN       NaN  1.435711       NaN
2013-01-06  1.496368       NaN       NaN  0.958763

In [55]:
df2 = df.copy()

In [56]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [57]:
df2

                   A         B         C         D      E
2013-01-01 -1.953205 -0.510823  0.838507  0.002086    one
2013-01-02 -1.616136 -1.659433  0.843784  1.266653    one
2013-01-03  1.168882  0.225536 -1.205854 -0.201028    two
2013-01-04  0.012269  1.678246 -0.266144 -1.489654  three
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263   four
2013-01-06  1.496368 -1.271911 -2.142138  0.958763  three

In [58]:
df2[df2["E"].isin(["two", "four"])]

                   A         B         C         D     E
2013-01-03  1.168882  0.225536 -1.205854 -0.201028   two
2013-01-05 -1.765653 -0.143808  1.435711 -1.411263  four

In [59]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [60]:
df["F"] = s1

In [61]:
df.at[dates[0], "A"] = 0

In [62]:
df.iat[0, 1] = 0

In [63]:
df.loc[:, "D"] = np.array([5] * len(df))

In [64]:
df2 = df.copy()

In [65]:
df2[df2 > 0] = -df2

In [66]:
df2

                   A         B         C    D    F
2013-01-01  0.000000  0.000000 -0.838507 -5.0  NaN
2013-01-02 -1.616136 -1.659433 -0.843784 -5.0 -1.0
2013-01-03 -1.168882 -0.225536 -1.205854 -5.0 -2.0
2013-01-04 -0.012269 -1.678246 -0.266144 -5.0 -3.0
2013-01-05 -1.765653 -0.143808 -1.435711 -5.0 -4.0
2013-01-06 -1.496368 -1.271911 -2.142138 -5.0 -5.0